.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(218, 165, 32, 0.851), black);
  }
  
  .loginBox {
    background-color: #2c2c2c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #f4f4f4;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .inputGroup label {
    font-size: 14px;
    color: #f4f4f4;
    margin-bottom: 5px;
  }
  
  .inputGroup input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #333;
    color: #f4f4f4;
  }
  
  .inputGroup input:focus {
    outline: none;
    border-color: goldenrod;
  }
  
  .submitButton {
    padding: 8px;
    font-size: 16px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 5px;
    width: 30%;
    margin: auto;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #e5a800da;
  }
  
  .signupLink {
    margin-top: 20px;
    font-size: 14px;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  .signupButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    transition: 0.3s ease;
  }
  
  .signupButton:hover {
    background-color: #3c3b3bc4;
  }
  
  .googleLogo {
    width: 20px;
    margin-right: 10px;
  }
  
